#view {
    position: absolute;
    width: 500px;
    height: 500px;
}

.button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0.5em;
    min-width: 7em;

    border-radius: 4px;
}

.autohide {
    display: none;
}

#controls {
    display: none;
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 1em;
}

body.displayControls #controls {
    display: block;
}

body:not(.fullscreen) #goFullscreen, #goFullscreen:hover {
    display: inline-block;
}

body.fullscreen #exitFullscreen, #exitFullscreen:hover {
    display: inline-block;
}

body.fullscreen {
    margin: 0;
    padding: 0;
}

body.fullscreen #view {
    width: 100vw;
    height: 100vh;
}