#view {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0.5em;
    min-width: 7em;

    border-radius: 4px;
}

.autohide {
    display: none;
}

#controls {
    display: none;
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 1em;

    animation: fadeOut 0.5s linear;
}

body {
    margin: 0;
    padding: 0;
}

body.fullscreen:not(.displayControls) {
    cursor: none !important;
}

body.fullscreen.displayControls {
    cursor: default;
}

body.displayControls #controls {
    display: block;
    animation: fadeIn 0.2s linear;
}

body:not(.fullscreen) #goFullscreen {
    display: inline-block;
}

body.fullscreen #exitFullscreen {
    display: inline-block;
}

body.fullscreen #view {
    width: 100vw;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}